*{
	box-sizing: border-box;
}
body{
	font-family: 'Lato', sans-serif, Arial;
}

h2{
    text-align: left;
    margin: 30px 0;
}

//NAVBAR
nav{
    &.scrolled{
        background-color: white;
    }
    .pop-up-menu{
        position: absolute;
        top: 56px;
        right: 0px;
        z-index: 999;
        margin-right: 50px;
        .navbar-nav{
            .nav-item{
                padding: 0 50px;
                &:hover{
                    background-color: rgba(165, 165, 165, 0.25);
                }
            }
        }
    }
}

//CAROUSEL
.carousel{
    &-item img{
        height: 100vh;
        object-fit: cover;
    }  
    &-caption{
        top: 46%;
        bottom: auto; 
        padding: 0;     
        background-color: rgba(76, 6, 94, 0.5);
        margin: 0 auto;
        max-width: 50%;
    }
}

//SKILLS
.skills{
    padding: 10px 0 50px;
    .progress{
        margin-bottom: 15px;
        height: 25px;
        &-bar{
            font-size: 14px;
            background-color: #DBCCEC;
        }
    }
}

// PROJECTS
.projects{
    padding-bottom: 50px 0;
    .container{
        margin: 0 auto;
        .col-lg-8{
            position: relative;
        }
        .elements-hover{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
            transition: all 0.5s;
            background-color: rgba(0, 0, 0, 0.9);
        }
        .img-project{
            max-width: 100%;
            &:hover{
                opacity: 0.5;
            }
        }
    }    
    
}

// FORM
.banner-form{
    background-image: url(../assets/access-adult-blur-261628.jpg);
	background-size: cover;
	background-position: 60%;
    padding-bottom: 25px;
    &-content{
        margin-top: 5vh;
    }
    span.error{
        color: red;
        font-size: 14px;
        font-weight: bold;
    }
    // input.error, textarea.error{
    //     border-color: red;
    // } 
}

// FOOTER
.footer{
    padding: 25px;

    .github-icon{
        height: 28px;
    }
}